/* #4a4a4a ﴾Texto del menú﴿
#3CDBC0 ﴾color de fondo de la página﴿
#FFFFFF ﴾Color de texto de "Creando diversidad digital"﴿ */
body{  
    margin: 0;
}

/* .container--title{
    background: palevioletred;
    height: 100px;
    width: 120px;  
} */
.container--heder{
    background-color: white;
    position: fixed;
    width: 100%;  
    text-align: center; 
    padding: 10px 0 13px;   
}
    
a{ 
    text-decoration: none;
    color: black;
    line-height: 60px;
    
}


.container-link {
    color: #ffffff;
    margin: 0;
    padding: 0;     
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}


.container--section{
    background: #3CDBC0; 
    height: 100vh; 
    justify-items: center;
}
.container--title{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 120px; 
    color: white;
    font-family: 'Rubik', sans-serif;
    
}
.title{
    color: white;
    width: 20px;

}

@media all and (max-width:320px){
   h1{
       font-size: 30px;
   }



}